* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 40px;
}

.booksSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  font-size: 20px;
}

.addBookForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  gap: 15px;
  background: darkseagreen;
}

.new-book {
  font-size: 30px;
  margin-top: 20px;
}

.add-but {
  margin-bottom: 20px;
  font-size: 20px;
  width: 10%;
  border-radius: 0;
  background-color: aqua;
}

.input-text {
  font-size: 20px;
}
